.group-3,
.group-3 * {
  box-sizing: border-box;
}
.group-3 {
  height: 1024px;
  position: relative;
}
.group-2 {
  width: 1440px;
  height: 1024px;
  position: static;
}
.group-1 {
  width: 1440px;
  height: 1024px;
  position: static;
}
.landing-page {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 968px;
  top: 50px;
  width: 255px;
  height: 33px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 1076px;
  top: 67px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 1178px;
  top: 67px;
}
.lakshminarayana-natarajan {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 97px;
  top: 50px;
  width: 566px;
}
.contact-us {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 97px;
  top: 189px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 326px;
  width: 1223px;
  height: 143px;
}
.lakshminarayana-natarajan-university-of-maryland-fall-2025 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 478px;
  top: 924px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eye-catching-button-false {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 82px;
  position: absolute;
  left: 597px;
  top: 674px;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-details-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 445px;
  width: 825px;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-details-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu-ta-contact-details-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
